:root {
    --darkestBlue: #213FF8;
    --darkBlue: #788BFF;
    --blue: #9BB1FF;
    --lightBlue: #BFD7FF;
    --white: #ffffff;
    --black: #000000;
}
body {
    background-image: url('assets/background.svg');
    padding: 4px 24px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    top: 0;
    padding: 8px;
    position: sticky;
}

.title {
    text-align: center;
    position: relative;
    top: 50px;
}

.logo {
    margin-left: auto;
}

.choose {
    position: relative;
    padding-top: 10px;
}

.theme {
    position: relative;
    padding-top: 80px;
}

.categorydiv {
    margin: auto;
}

.categorybtn {
    display: inline-block;
    padding: 10px;
}

.categorybtn:hover {
    opacity: 70%;
    cursor: pointer;
}

.categorybtn:focus {
    border: 2px solid var(--darkestBlue);
}

.forms {
    padding: 36px;
}