.title {
    text-align: center;
    position: relative;
    top: 50px;
}

.logo {
    margin-left: auto;
}

.choose {
    position: relative;
    padding-top: 10px;
}

.theme {
    position: relative;
    padding-top: 80px;
}

.post {
    bottom: 0;
    position: relative;
    left: 450px;
    font-size: 150%;
}

.categorydiv {
    margin: auto;
}

.categorybtn {
    display: inline-block;
    padding: 10px;
}

.categorybtn:hover {
    opacity: 70%;
    cursor: pointer;
}