:root {
    --darkestBlue: #213FF8;
    --darkBlue: #788BFF;
    --blue: #9BB1FF;
    --lightBlue: #BFD7FF;
    --white: #ffffff;
    --black: #000000;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo {
    margin-left: auto;
}

.goHome {
    position: relative;
    bottom: 8px;
    font-style: italic;
    color: var(--darkestBlue);
    font-weight: bold;
}

a{text-decoration: none;}